*, *!:before, *!:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1200px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 17.5px 6%;

  list-style: none;
  line-height: 26px;
}

.logo-header {
  margin: 0 auto -80px;
  display: block;
  text-align: center;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
  padding-left: 30px;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(3) {
  padding-right: 33px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 80px;

  background-color: #ce9e97;
  background-image: url(../img/mask.png), url(../img/image-top.jpg);
  background-repeat: no-repeat;
  background-position: bottom center, 0 -57px;
}

.container-headline {
  padding-top: 60px;
  padding-bottom: 50px;
}

.container-headline p:first-child {
  margin: 0;
  margin-bottom: 27px;
  text-align: center;

  font-size: 21px;
  line-height: 26px;
}

.container-headline .five {
  margin: 0;
  text-align: center;

  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.feature-1 {
  display: flex;
}

.text-block {
  width: 34%;
  padding-top: 48px;
  text-align: center;

  background-color: #81b3d2;
}

.text-block h3 {
  margin: 0;
  margin-bottom: 24px;

  font-size: 21px;
  color: #ffffff;
}

.text-block p {
  margin: 0;

  font-weight: 400;
  color: #ffffff;
}

.text-block .number {
  margin-bottom: 21px;
}

.image-block img {
  display: block;
}

.advantages {
  display: flex;
  padding-top: 48px;
  padding-bottom: 65px;
}

.advantages .feature-item {
  text-align: center;
}

.wrapper-image {
  margin-bottom: 24px;
}

.feature-2 {
  display: flex;
  flex-direction: row-reverse;
}

.feature-2 .text-block {
  width: 34%;
}

.features .wrapper {
  display: flex;
}

.feature-item h3 {
  font-size: 21px;
}

.feature-item {
  width: 400px;

  font-weight: 400;
  color: #333333;
}

.feature-item.grey {
  padding-top: 26px;
  padding-bottom: 46px;
  text-align: center;

  background-color: #eeeeee;
}

.feature-item.grey h3 {
  margin-bottom: 24px;
}

.feature-item.grey .number {
  margin-bottom: 21px;
}

.subtitle {
  width: 450px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 130px;
  text-align: center;
}

.subtitle p:first-child {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
}

.subtitle .clarification {
  margin: 0;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.popup form {
  position: absolute;
  left: 669px;
  padding: 42px 94px 55px 14px;

  background-color: #ffffff;
  box-shadow: 0 10px 40px 5px rgba(0,0,0,.2);
}

.popup .button.brown {
  position: absolute;
  left: 669px;
  z-index: 10;
  bottom: -1220px;
  padding: 32px 138px;
}

.button.brown {
  font-size: 21px;
  background-color: #766357;
}

.button.brown:hover {
  background-color: #604e43;
}

.button.brown:active {
  color: #857871;
  background-color: #503e33;
}

.popup .button.blue {
  padding: 17px 196px;
}

.button.blue {
  font-size: 21px;
  background-color: #81b3d2;
}

.button.blue:hover {
  background-color: #669ec0;
}

.button.blue:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.booking {
  list-style: none;
}

.booking-option {
  margin-bottom: 30px;
}

.booking-option label {
  margin-right: 20px;
}

.booking-option input {
  padding: 9px;
  padding-left: 12px;

  font: inherit;

  background-color: #f2f2f2;
  border: none;
}

.booking-option input:hover {
  background-color: #ebebeb;
}

.booking-option input:focus {
  outline: none;
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.booking-option input::placeholder {
  text-transform: uppercase;
  color: #000000;
}

.map img {
  display: block;
}

.pade-footer {
  position: absolute;
  top: 2680px;
  z-index: 100;
  display: flex;
  width: 1200px;

  outline: 1px solid black;
  background-color: rgba(255,255,255,.9);
}

.hashtag {
  width: 33.3%;
  padding-top: 8px;
  text-align: center;
}

.visit {
  margin: 0;
  text-align: center;

  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  width: 33.3%;
  text-align: center;
}

.footer-social ul {
  margin: 0;
  list-style: none;

  font-size: 0;
}

.social-button {
  color: #000000;
}

.html-academy {
  width: 33.3%;
  display: flex;
  justify-content: center;
  padding-top: 2px;
  padding-left: 2px;
}

.html-academy p {
  margin: 0;
  margin-right: 8px;
  line-height: 39px;

  font-weight: 400;
}

.html-academy a {
  font-size: 0;
}

.social-button img {
  background-color: #5496bd;
}

.site-navigation .active-page {
  color: #766357;
}

.filters {
  font-weight: 400;
  color: #ffffff;
  background-color: #ce9e97;
  background-image: url(../img/image-hotels.jpg);
  background-repeat: no-repeat;
}

.filters legend {
  font-size: 16px;
  font-weight: 700;
}

.filter fieldset {
  border: none;
}

.filter ul {
  list-style: none;
}

fieldset .price {
  font-weight: 400;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-button {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
  border: none;
}

.sorting p {
  font-size: 21px;
  line-height: 26px;
}

.sorting .sort {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sort-options {
  list-style: none;
}

.sort-options.sort-active {
  color: #81b3d2;
}

.sorting a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #b2b2b2;
}

.sorting a:hover {
  color: #81b3d2;
}

.sorting a:active {
  color: #000000;
}

.catalog-item .catalog-item-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.catalog-item .catalog-item-name:hover {
  color: #81b3d2;
}

.catalog-item .catalog-item-name:active {
  color: #b2b2b2;
}

.catalog-item-price p {
  color: #333333;
  font-weight: 400;
}

.info-book .blue {
  font: inherit;
}

.info-book .brown {
  font: inherit;
}

.stars {
  list-style: none;
}

.rating {
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}
