*, *!:before, *!:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1200px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 56px;

  list-style: none;
  line-height: 26px;
}

.logo-header {
  position: absolute;
  left: 879px;

  width: 244px;
}

.site-navigation > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 239px;
}

.photo-and-video {
  margin-right: auto;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 508px;

  background-color: #ce9e97;
  background-image: url(../img/image-top.jpg);
  background-repeat: no-repeat;
  background-position-y: -55px;
}

.container-headline {
  padding-top: 61px;
  padding-bottom: 55px;
}

.container-headline p:first-child {
  margin: 0;
  margin-bottom: 24px;
  text-align: center;

  font-size: 21px;
  line-height: 26px;
}

.container-headline .five {
  margin: 0;
  text-align: center;

  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.feature-1 {
  display: flex;
}

.text-block {
  text-align: center;

  background-color: #81b3d2;
}

.feature-item-image h3 {
  font-size: 21px;
  color: #ffffff;
}

.feature-item-image p {
  font-weight: 400;
  color: #ffffff;
}

.advantages {
  display: flex;
  padding-top: 40px;
  padding-bottom: 70px;
}

.advantages .feature-item {
  text-align: center;
}

.feature-2 {
  display: flex;
  flex-direction: row-reverse;}

.wrapper {
  display: flex;
}

.feature-item h3 {
  font-size: 21px;
}

.feature-item {
  width: 400px;

  font-weight: 400;
  color: #333333;
}

.feature-item.grey {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;

  background-color: #eeeeee;
}

.subtitle {
  width: 435px;
  padding-top: 50px;
  padding-bottom: 140px;
  padding-left: 382px;
  text-align: center;
}

.subtitle p:first-child {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
}

.subtitle .clarification {
  margin: 0;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.popup {
  width: 568px;
  height: 461px;
  line-height: 26px;
}

.popup form {
  width: 568px;
  height: 395px;
}

.popup .button.brown {
  padding: 30px 139px;
}

.button.brown {
  font-size: 21px;
  background-color: #766357;
}

.button.brown:hover {
  background-color: #604e43;
}

.button.brown:active {
  color: #857871;
  background-color: #503e33;
}

.popup .button.blue {
  padding: 17px 196px;
}

.button.blue {
  font-size: 21px;
  background-color: #81b3d2;
}

.button.blue:hover {
  background-color: #669ec0;
}

.button.blue:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.booking {
  list-style: none;
}

.booking-option input {
  font: inherit;

  background-color: #f2f2f2;
  border: none;
}

.booking-option input:hover {
  background-color: #ebebeb;
}

.booking-option input:focus {
  outline: none;
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.booking-option input::placeholder {
  text-transform: uppercase;
  color: #000000;
}

.pade-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
}

.visit {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  margin: 0;
  list-style: none;

  font-size: 0;
}

.social-button {
  color: #000000;
}

.html-academy {
  display: flex;
  width: 200px;
}

.html-academy p {
  margin: 0;

  font-weight: 400;
  line-height: 26px;
}

.html-academy a {
  font-size: 0;
}

.social-button img {
  background-color: #5496bd;
}

.site-navigation .active-page {
  color: #766357;
}

.filters {
  font-weight: 400;
  color: #ffffff;
  background-color: #ce9e97;
  background-image: url(../img/image-hotels.jpg);
  background-repeat: no-repeat;
}

.filters legend {
  font-size: 16px;
  font-weight: 700;
}

.filter fieldset {
  border: none;
}

.filter ul {
  list-style: none;
}

fieldset .price {
  font-weight: 400;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-button {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
  border: none;
}

.sorting p {
  font-size: 21px;
  line-height: 26px;
}

.sorting .sort {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sort-options {
  list-style: none;
}

.sort-options.sort-active {
  color: #81b3d2;
}

.sorting a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #b2b2b2;
}

.sorting a:hover {
  color: #81b3d2;
}

.sorting a:active {
  color: #000000;
}

.catalog-item .catalog-item-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.catalog-item .catalog-item-name:hover {
  color: #81b3d2;
}

.catalog-item .catalog-item-name:active {
  color: #b2b2b2;
}

.catalog-item-price p {
  color: #333333;
  font-weight: 400;
}

.info-book .blue {
  font: inherit;
}

.info-book .brown {
  font: inherit;
}

.stars {
  list-style: none;
}

.rating {
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}
